.Home {
  background: #E1DEB5 ;
  scroll-behavior: smooth;
  &_categories {
   ul{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      color: #BD7E49;
      img {
        width: auto;
        height: 200px;
        border-radius: 5px;
      }

      
    }
    &__links {
      border: #fff solid 2px;
      border-radius: 5px;
      margin: 20px;
      text-align: center;
      font-size: xx-large;
      &:hover {
        border: #E4C49B solid 2px;
        color: #E4C49B;
      }
    }
  }
}