.Home {
  background: #000 ;
  scroll-behavior: smooth;
  &_categories {
   ul{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      color: antiquewhite;
      img {
        width: auto;
        height: 200px;
        border-radius: 5px;
      }

      
    }
    &__links {
      border: #fff solid 2px;
      border-radius: 5px;
      margin: 20px;
      text-align: center;
      font-size: xx-large;
      &:hover {
        border: #9b266e solid 2px;
        color: #9b266e;
      }
    }
  }
}